@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  transition: 0.15s ease;
}
* .hidden {
  display: none;
}
* html {
  height: 100%;
  overflow: auto;
}
* input::placeholder {
  color: hsl(231deg, 11%, 63%) !important;
  font-weight: 400;
}
* .t1 {
  font-size: 1.5em;
  font-weight: 700;
  color: hsl(213deg, 96%, 18%);
  margin-bottom: 10px;
}
* .t2 {
  font-size: 1em;
  font-weight: 400;
  color: hsl(231deg, 11%, 63%);
}
* .t3 {
  font-size: 0.8em;
  font-weight: 500;
  color: hsl(213deg, 96%, 18%);
  margin-top: 15px;
}
* body {
  background-color: hsl(231deg, 100%, 99%) !important;
  width: auto;
  height: auto;
  position: relative;
  margin: 0px;
}
* body .t1,
* body .t2,
* body .t3 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
       supported by Chrome and Opera */
}
* body .bg {
  position: absolute;
  width: 100%;
}
* body .container {
  margin: 0 auto;
  padding: 0;
}
* body .container .sidebar {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}
* body .container .sidebar .sidebar-mobile .n {
  display: flex;
  flex-direction: row;
}
* body .container .sidebar .sidebar-mobile .n > * {
  font-size: 0.85rem;
  font-weight: 500;
  color: hsl(0deg, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 32.5px;
  height: 32.5px;
  border-radius: 50%;
  border: 1px solid hsl(0deg, 0%, 100%);
  margin-left: 10px;
  margin-right: 10px;
}
* body .container .sidebar .sidebar-mobile .n .active {
  border: 1px solid hsl(206deg, 94%, 87%);
  background-color: hsl(206deg, 94%, 87%);
  color: hsl(213deg, 96%, 18%);
}
* body .container .step {
  height: 100vh;
  width: 100%;
}
* body .container .step .card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 25px;
  margin: 5%;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 80px;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.1) 0px 50px 100px -20px, rgba(0, 0, 0, 0.15) 0px 30px 60px -30px;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
* body .container .step .card .form-check-inline {
  margin-right: 0;
}
* body .container .step .card .form-check {
  display: flex;
  flex-direction: column;
}
* body .container .step .card .form-check .radio-btn {
  margin-top: 15px;
  display: flex;
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: hsl(213deg, 96%, 18%);
  border: solid 1px hsl(229deg, 24%, 87%);
  border-radius: 10px;
}
* body .container .step .card .form-check .radio-btn input {
  appearance: none;
}
* body .container .step .card .form-check .radio-btn .radio-icon {
  margin-right: 10px;
}
* body .container .step .card .form-check .radio-btn .radio-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
* body .container .step .card .form-check .radio-btn .radio-label .t2 {
  margin: 0;
  font-size: 0.85rem;
  font-weight: 500;
}
* body .container .step .card .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
* body .container .step .card .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
* body .container .step .card .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
* body .container .step .card .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
* body .container .step .card input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
* body .container .step .card .slider.round {
  border-radius: 34px;
}
* body .container .step .card .slider.round:before {
  border-radius: 50%;
}
* body .container .step .card .switch {
  position: relative;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 0;
  background-color: hsl(217deg, 100%, 97%);
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: hsl(231deg, 11%, 63%);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
* body .container .step .card .switch .slider {
  background-color: hsl(213deg, 96%, 18%);
  width: 50px;
  height: 24px;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}
* body .container .step .card .switch .slider:before {
  height: 16px;
  width: 16px;
}
* body .container .step .card .switch .t3 {
  display: flex;
  color: hsl(231deg, 11%, 63%);
  height: 35px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 35px;
  margin-right: 45px;
}
* body .container .step .card .switch .t3 > * {
  height: 100%;
  width: 100%;
}
* body .container .step .card .switch .selected {
  color: hsl(213deg, 96%, 18%);
}
* body .container .footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  position: absolute;
  padding: 15px;
  bottom: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
* body .container .footer .btn {
  border: none;
  font-size: 1rem;
  background-color: hsl(213deg, 96%, 18%);
  position: relative;
  width: 110px;
  float: right;
  margin: 0;
  padding: 10px;
  color: hsl(206deg, 94%, 87%);
}
* body .container .footer .btn-secondary {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(231deg, 11%, 63%);
  font-weight: 500;
  padding: 0;
  margin-left: -15px;
}

/*# sourceMappingURL=output.scss.map */
